@page
@model ThAmCo.Events.Pages.EventsList.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.IsCancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.IsCancelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.VenueId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.VenueId)
        </dd>
    </dl>
</div>

<div>
    <h4>Attendees</h4>
    <hr />
    <p>Total Attendees: @Model.TotalAttendees</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Is Attending</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in Model.Attendees)
            {
                <tr>
                    <td>@attendee.Name</td>
                    <td>@attendee.Email</td>
                    <td>@(attendee.IsAttending ? "Yes" : "No")</td>
                    <td>
                        <form method="post" asp-page-handler="RegisterAttendance">
                            <input type="hidden" name="id" value="@Model.Event.Id" />
                            <input type="hidden" name="guestId" value="@attendee.Id" />
                            <input type="hidden" name="isAttending" value="true" />
                            <button type="submit" class="btn btn-success">Mark as Attending</button>
                        </form>
                        <form method="post" asp-page-handler="RegisterAttendance">
                            <input type="hidden" name="id" value="@Model.Event.Id" />
                            <input type="hidden" name="guestId" value="@attendee.Id" />
                            <input type="hidden" name="isAttending" value="false" />
                            <button type="submit" class="btn btn-danger">Mark as Not Attending</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>