@page
@model ThAmCo.Events.Pages.EventsList.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.IsCancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.IsCancelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.VenueId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.VenueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Event.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
